---
layout: page
type: article
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

<div class="layout--article">
  {%- include article/top/custom.html -%}

  <div class="article__content" itemprop="articleBody">{{ content }}</div>

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}

  <!-- Gitalk start  -->

<!-- Link Gitalk files  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"/></script>
<div id="gitalk-container"></div>     <script type="text/javascript">
    var gitalk = new Gitalk({

        // gitalk's main params
		clientID: `Github Application clientID`,
		clientSecret: `Github Application clientSecret`,
		repo: `your repo-name`,
		owner: 'Github username',
		admin: ['Github username'],
		id: 'identifier for a page，gitalk will create issues with this id',
    
    });
    gitalk.render('gitalk-container');
</script>
<!-- Gitalk end -->
  
  <div class="d-print-none">
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>

</div>

<script>
  {%- include scripts/article.js -%}
</script>